
.menu-icon  {
	font-size: 1.75rem;
	color: black;
}

.navbar-form .btn-default {
	height: 90%;
}

.input-group input {
	border: none;
}

.notice .dropdown-toggle::after {
	display : none;
}

.notice .dropdown-menu {
	width: 250px;
	height: 300px;
	overflow: auto;
}

.notice .dropdown-menu list-group-item {
	height: 10%;
}