section.container {
	margin-top: 5em;
}

.main-body-top {
	height: 600px;
}


.main-body-top .map {
	width: 64%;
}


.kakaomap {
	font-size: 3rem;
	color: #FFC300;
}



.main-body-top .right {
	width: 35%;
}


.main-body-top .right .user-info {
	height: 18%;
}

.main-body-top .right .user-info .user-info-icon {
	font-size: 4rem;
	color: #112FE0;
}

.main-body-top .right .user-info .user-info-top {
	height: 90%;
	align-items: center;
}


.main-body-top .right .user-info .user-info-top .profile-img {
	width: 30%;
	text-align: center;
}

.main-body-top .right .user-info .user-info-top .nickname {
	width: 50%;
}

.main-body-top .right .map-filter {
	height: 80%;
}


.main-body-top .right .map-filter .map-filter-icon {
	font-size: 2rem;
	color: #FFC300;
}



.main-body-bottom {
	height: 2000px;
}

.main-body-bottom .recommand {
	height: 25%;
}

.main-body-bottom .recommand .recommand-icon {
	align-items: end;
}


.main-body-bottom .recommand .recommand-icon .btn1{
	font-size: 2.3rem;
}

.main-body-bottom .recommand .recommand-icon .btn2{
	font-size: 1.5rem;
}

.main-body-bottom .recommand .posts {
	height: 80%;
}

.main-body-bottom .recommand .posts .post {
	width : 24%;
	height: 100%;
}

.main-body-bottom .recommand .posts .post-top {
	height: 80%;
	margin-bottom: 2%;
}

.main-body-bottom .recommand .posts .post-bottom {
	height: 18%;
}

img {
	object-fit: cover;
}