img {
	object-fit: cover;
}


#modalCloseBtn {
	font-size: 3rem;
}

.modal-dialog {
	height: 100%;	
}

.modal-content {
	height: 80%;
}

.modal-content .post-img {
	width: 60%;
	height: 100%;
}

.modal-content .post-img img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}


.modal-content .list-group {
	width: 40%;
}

.modal-content .list-group .list-group-item:nth-child(1) {
	height: 10%;
}

.modal-content .list-group .list-group-item:nth-child(2) {
	height: 38.35%;
}

.modal-content .list-group .list-group-item:nth-child(3) {
	height: 10%;
}

.modal-content .list-group .list-group-item:nth-child(4) {
	height: 40%;
}

.modal-icon {
	font-size: 1.5rem;
}

