<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.init.feed.dao.IDao" >
 
<select id="getCalendarEvent" resultType="com.project.init.feed.dto.PlanDto">
	SELECT * FROM plan_mst
</select>

<insert id="insertMst" parameterType="com.project.init.feed.dto.PlanDto">
	INSERT INTO plan_mst (planNum, planName, startDate, endDate, dateCount, eventColor) 
	VALUES (plan_mst_seq.NEXTVAL, #{planName}, #{startDate}, #{endDate}, #{dateCount}, #{eventColor})
	<selectKey resultType="int" keyProperty="planNum" order="AFTER">
		SELECT plan_mst_seq.currVal from dual
	</selectKey>
</insert>

<select id="selectPlanDt" parameterType="com.project.init.feed.dto.PlanDto2" resultType="com.project.init.feed.dto.PlanDto2">
	SELECT * 
	FROM plan_dt 
	WHERE planNum = #{planNum} 
	AND planDay = #{planDay}
	ORDER BY startTime ASC
</select>


<insert id="insertDt" parameterType="com.project.init.feed.dto.PlanDto2">
	INSERT INTO plan_dt
	
	VALUES
		(plan_dt_seq.NEXTVAL,
		 #{planNum}, 
		 #{placeName},
		 #{planDay},
		 #{planDate},
 		 #{startTime},
 		 #{endTime},
 		 #{theme},
		 #{latitude},
		 #{longitude},
		 #{address},
		 #{category},
		 #{transportation},
		 #{details})
</insert>

<update id="updatePlanMst" parameterType="com.project.init.feed.dto.PlanDto">
	UPDATE plan_mst
	
	SET planNum = #{planNum},
		planName = #{planName},
		startDate = #{startDate},
		endDate = #{endDate},
		dateCount = #{dateCount},
		eventColor = #{eventColor}
		
	WHERE planNum = #{planNum}
</update>

<update id="updatePlanDt1" parameterType="com.project.init.feed.dto.PlanDto2">
	UPDATE plan_dt 
	
	SET planDate = #{planDate}
		
	WHERE planNum = #{planNum}
	AND planDay = #{planDay}
</update>

<delete id="deletePlanDt1" parameterType="com.project.init.feed.dto.PlanDto2">
	DELETE FROM plan_dt WHERE planNum = #{planNum} AND planDay = #{planDay}
</delete>

</mapper>

