html, body {
	height: 100%;
}

body::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    background: #A0A0A0 ; /* 스크롤바의 색상 */
    border-radius: 15px;
}

body::-webkit-scrollbar-track {
    background: #CCCCCC;  /*스크롤바 뒷 배경 색상*/
}

section.container-fluid {
	margin-top: 5em;
	padding-bottom: 2em;
	height: auto;
}

.planlist {
	max-height: 900px;
}

.planlist #kakaobox {
	max-width: 100%;
	min-height: 900px;
}

h3[id^=date-title] {
	font-size: 30px;
	font-weight: 400;
}

#tabdiv{
  width: 100%;
  margin: 0 auto;
  max-height: 900px;
  overflow: auto;
}


#tabdiv::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

#tabdiv::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #D0D0D0; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

#tabdiv::-webkit-scrollbar-track {
    background: #EFEFEF;  /*스크롤바 뒷 배경 색상*/
}


.tab-content {
  display: none;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}

.none {
	 display: none;
}

textarea {
	resize: none;
}

#deleteBtn {
	height: 50%;
}